<h1><%=@user.first_name%> <%=@user.last_name%></h1>
<ul>
  <% @user.plans.each do |plan|%>
    <li><%= link_to "#{plan.name}", user_plan_path(@user, plan) %> || <%= plan.duration%> months <%= link_to "Delete", user_plan_path(@user, plan), method: :delete%></li>
  <% end %>
</ul>
<%= link_to "Create Plan", new_user_plan_path(@user)%>

<h1>My trades</h1>
<ul>
  <% @trades.each do |trade|  %>
    <% if current_user.id == @user.id || current_user.orders.where(seller: @user.id).present? %>
      <li><%= trade.instrument %> <%= trade.open ? "open" : "closed"  %></li>
    <% else %>
    <% unless trade.open %>
      <li><%= trade.instrument %> closed </li>
    <% end %>
    <% end %>
  <% end %>
</ul>

<!--
if current_user.id == @user.id || current_user.orders.seller == @user.id
 -->
